body{
    background: #2a2d3d;
}
body>div{
    width: 100%;
    border: 1px solid #d1d1d1;
}
div{
    margin: 10px auto 25px;;
    background: #FFF;
    text-align: center;
}
legend{
    margin: 20px auto;
    border-bottom: 1px solid #d1d1d1;
    font-size: 40px;
    padding: 20px 50px 10px 10px;
}
h3{
    font-size: 20px;
    padding: 0;
    margin: 0;
}
a{
    padding: 10px;
    margin: 2px;
    width: 50px;
    font-size: 18px;
    color: #d1d1d1;
    text-decoration: none;
}
a:link{
    color: auto;
    border: auto;
}
a:visited{
    color: auto;
    border: auto;
}
#l1{
    background: -webkit-gradient(#0000ff, #21267e);
    background: linear-gradient(#0000ff, #21267e);
    border:2px solid #0000ff;
}
#l2{
    background: -webkit-gradient(#ff602a, #543117);
    background: linear-gradient(#ff602a, #543117);
    border:2px solid #ff602a;
}
#l3{
    background: -webkit-gradient(#7f0200, #46191a);
    background: linear-gradient(#7f0200, #46191a););
    border:2px solid #7f0200;
}